@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 为了解决下拉框的背景和字体颜色不对 */
  --nextui-content1: 240 5.88% 10%;
  color: aliceblue;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
