@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 为了解决下拉框的背景和字体颜色不对 */
  --nextui-content1: 240 5.88% 10%;
  color: aliceblue;
}
@font-face {
  font-family: "font-Alibaba";
  src: url("/src/assets/fonts/AlibabaPuHuiTi-3-55-Regular.ttf");
}
@font-face {
  font-family: "font-kingsoft";
  src: url("/src/assets/fonts/Kingsoft_Cloud_Font.ttf");
}
@font-face {
  font-family: "font-xinyiguanhei";
  src: url("/src/assets/fonts/ZiTiQuanXinYiGuanHeiTi.ttf");
}
@font-face {
  font-family: "font-dingtalk";
  src: url("/src/assets/fonts/DingTalk_JinBuTi.ttf");
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
